# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Medicine-Smartphone-App.iml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\School\Medicine\Medicine-Smartphone-App\.idea\.idea.Medicine-Smartphone-App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
